* {
  box-sizing: border-box;
}

input {
  cursor: pointer;
}
.circle {
  width: 20px;
  height: 20px;
  background-color: antiquewhite;
  border-radius: 50%;
}

.product-list-headers {
  font-size: 20px;
}

.itemName,
.itemsLeft,
.itemsSold,
.rating,
.volume,
.reviews,
.type {
  text-wrap: nowrap;
}
@media (max-width: 600px) {
  .itemName {
    font-size: 25px;
    text-wrap: nowrap;
  }
  .page-info {
    margin-left: 100px;
    text-wrap: nowrap;
    margin-bottom: 10px;
  }
}

footer ul li {
  padding: 5px;
}
.page-1 {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}
